[submodule "vggt"]
	path = services/vggt/upstream
	url = https://github.com/facebookresearch/vggt.git
[submodule "services/depth-anything-3/upstream"]
	path = services/depth-anything-3/upstream
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
